{% extends 'commontemplate.html' %}

{% block title %}
<title>Create New Item</title>
{% endblock %}


{% block content %}

<h2 class="panel-title">Create New Item</h2>

<div class="content-main">
    <form method="POST" action="{{ url_for('createItem', category_id = category.id) }}">
        <div class="row form-content">
            <div class="col-6 labels">
                <label>Name:</label>
                <br>
                <label>Description:</label>
                <br>
                <label>Category:</label>
                <br>
            </div>

            <div class="col-6 inputs">
                <input type="text" name="name">
                <br>
                <input type="text" name="description">
                <br>

                <select name="category">
                    {% for category_record in categories %}
                        {% if category_record.id == category.id %}
                    <option selected value="{{ category_record.id }}">{{ category_record.name }}</option>
                        {% else %}
                    <option value="{{ category_record.id }}">{{ category_record.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
            </div>
        </div>

        <br>

        <input class="submit-btn" type="Submit" value="Submit">
        <a href="{{ url_for('showItems', category_id = category.id) }}">Cancel</a>
    </form>
</div>

{% endblock %}